*{
    margin: 0;
    padding: 0;
}
body{
background-color:#9AD1D4 ;
display: flex;
justify-content: center;




}
.content{
    background-color: #CCDBDC;
    height: 50vh;
    width: 30vw;
    padding: 2rem;
    border-radius: 1rem;
   
}
form{
    margin: 2rem 0 2rem 0;
}
#amount{
    width: 100%;
    outline: none;
    font-size: 1rem;
    border: 1px solid #003249;
    height: 3rem;
    border-radius: 0.75rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
button{
    width: 100%;
    height: 2rem;
    margin-top: 2rem;
    border-radius: 0.75rem;
    background-color: #00324984;
    font-size: 1.2rem;
}
.dropdown select{
    border: none;
}
.selectcurrency{
    display: flex;
    border : 1px solid rgba(93, 147, 13, 0.724);
    height: 1.6rem;
   
  
}
.dropdown i{
    font-size: 1.6rem;
}
.select{
    font-size: 1.2rem;
}
.msg{
    margin-top: 1rem;
    font-size: 1.3rem;
}